.header__container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.header-title__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title__container>div {
    display: flex;
    gap: 0.5rem;
}

.header-title__container>div>img {
    width: 11px;
    height: 11px;

    cursor: pointer;
}

.header-title__container>div>h2 {
    font-weight: bold;
    min-width: 130px;
    color: var(--color-black);
}

.header-buttons__container {
    display: flex;
    justify-content: center;
    gap: 1rem;

    position: relative;
}

.menu--dropdown {
    display: none;
}

.header-buttons__container>div {
    display: flex;
    justify-content: center;
    gap: 1rem;

    position: absolute;
    top: 15px;
    width: 100vw;
    padding-bottom: 1rem;
    background-color: var(--color-white)
}

.header-buttons__container>div>button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    font-family: 'Inter', sans-serif;

    padding: 0.5rem 2rem;
    width: 142px;

    color: var(--color-brand-1);
    background-color: var(--color-white);
    border: 1px solid #4200FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.header-buttons__container>div>button:hover {
    color: var(--color-white);
    background-color: var(--color-brand-1);
}

.hidden {
    display: none;
}

@media(min-width: 430px) {
    .header__container {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu--dropdown {
        display: flex;
    }

    .header-buttons__container {
        display: flex;
        align-self: flex-end;
        gap: 1rem;

        width: fit-content;
    }

    .header-buttons__container>div {
        display: block;
        top: 0;
        width: fit-content;
        position: inherit;

        padding-bottom: 0;
    }

    .header-title__container>img {
        display: none;
    }
}