.main__container {
    display: flex;
    justify-content: center;

    padding: 1rem;
    background: #F8F8F8;
}

.img-background__container {
    display: none;
}

.company__section {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    width: 100%;
}

.select__container {
    display: flex;
}

.select__container>select {
    appearance: none;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    padding: 1rem;
    width: 100%;

    color: var(--color-white);
    border: 1px solid var(--color-brand-1);
    background: url(../img/arrow-icon.png) no-repeat 97% var(--color-brand-1);
}

.company__list {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;

    background: #F8F8F8;
    overflow-x: scroll;
}

.company__card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-width: 220px;
    padding: 1rem;

    background: var(--color-white);
    border-bottom: 1px solid var(--color-brand-1)
}

.company__card>h2 {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 150%;

    color: var(--color-black);
}

.company__card>p {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 150%;

    margin-left: 0.3rem;

    color: var(--color-black);
}

.company__card>span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;

    width: fit-content;
    padding: 0.6rem;
    margin-bottom: 0.5rem;

    color: var(--color-brand-1);
    border: 1px solid var(--color-brand-1);
    border-radius: 255px;
}

@media(min-width: 430px) {
    .main__container {
        height: 100vh;
        gap: 1rem;
        background: var(--color-white)
    }

    .img-background__container {
        display: flex;
        width: 50%;
    }

    .img-background__container>img {
        width: 100%
    }

    .company__section {
        gap: 0;
        width: 50%;
    }

    .company__list {
        flex-direction: column;
        padding: 1rem;
        overflow-x: hidden;
        background-color: #F8F8F8;
    }
}